@use '../../sass/variables' as var

    
.global
    position: relative
    display: flex
    flex-direction: column
    overflow-y: auto
    overflow-x: hidden
    height: auto
    min-height: 100vh
    width: 100%
    background-color: var.$dark-next
    
.logo
    position: relative
    display: flex
    flex-direction: row
    justify-content: center
    height: auto
    min-height: 10rem
    width: 100%
    background-color: transparent 
    border: 1px solid white

.title
    position: relative
    display: flex
    flex-direction: row
    justify-content: center
    height: auto
    min-height: 6rem
    width: 100%
    background-color: transparent 
    border: 1px solid white

.bodyWrapper
    position: relative
    display: flex
    flex-direction: row
    justify-content: center
    flex: 1 0 auto
    height: auto
    min-height: 45rem
    width: 100%
    background-color: transparent 
    border: 1px solid white
    padding: 0.5rem

.footer
    position: relative
    display: flex
    flex-direction: row
    justify-content: center
    height: auto
    min-height: 10rem
    width: 100%
    background-color: transparent 
    border: 1px solid white
