$blue-next: #1A4F96
$blue-next-o: #055bccc9
$dark-next: #00132c
$yellow-grad: #FEEC28
$yellow-grad-o: #feec28a7
$green-grad: #8BFD43
$green-second-o: #8afd4363
$azure-grad: #6aa3ff
$azure-grad-o: #6aa3ffa8
$blue-grad: #0C0236
$white-text: #a1a1a1