.title
    position: relative
    display: flex
    flex-direction: row
    height: 6rem
    width: 100%

.title_mod
    position: relative
    display: flex
    height: 100%
    width: 80%

.title_btn
    position: relative
    display: flex
    height: 100%
    width: 20%